body {
  background-color: #e6ecdc;
  font-family: "Playfair Display", serif;
}
.app-container {
  background: #ecf2e0;
  max-width: 600px;
  margin: 30px auto;
  padding: 45px;
  box-shadow: 20px 30px 50px rgba(182, 188, 171, 0.7);
  border-radius: 7px;
}

.search-form-input {
  border: none;
  border-radius: 7px;
  width: 80%;
  padding: 15px;
  font-size: 16px;
}

.search-form-button {
  background-color: #d5dbcb;
  border: none;
  border-radius: 7px;
  width: 15%;
  padding: 16px;
  margin-left: 8px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 30px;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
}

.weather-app-details {
  line-height: 45px;
}

.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-top: 20px;
}
.weather-app-numeral {
  font-size: 88px;
  line-height: 88px;
}
.weather-app-metric {
  margin-top: 40px;
  font-size: 24px;
}

footer {
  border-top: 1px solid #d5dbcb;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

a {
  color: black;
}
